a,
a:focus,
a:hover {
    color: #fff;
}
a{
    text-decoration: underline;
}


html,
body {
    min-height: 100%;
    background-color: #F9A40D;
}
body {
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    padding: 40px 0;
}


.content-container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.img-placeholder{
    margin-top: 30px;
    text-align: center;
}
